In [6]:
import pandas as pd
from fastai.text.all import *

In [8]:
df = pd.read_csv("Data/abcnews-date-text.csv", index_col=False)

In [9]:
df

,publish_date,headline_text
0,20030219,aba decides against community broadcasting licence
1,20030219,act fire witnesses must be aware of defamation
2,20030219,a g calls for infrastructure protection summit
3,20030219,air nz staff in aust strike for pay rise
4,20030219,air nz strike to affect australian travellers
...,...,...
1226253,20201231,what abc readers learned from 2020 looking back at the year
1226254,20201231,what are the south african and uk variants of covid 19
1226255,20201231,what victorias coronavirus restrictions mean for new years eve
1226256,20201231,whats life like as an american doctor during covid
1226257,20201231,womens shed canberra reskilling unemployed pandemic

In [10]:
df_reduced = df.iloc[-100000:, :].reset_index(drop=True)

In [11]:
df_reduced

,publish_date,headline_text
0,20180507,cancer patients engaging in exercise show improvement
1,20180507,ccc corruption probe into horizon power it managers
2,20180507,changing attitudes to death can mean a new role for cemeteries
3,20180507,chart of the day budget most important issues
4,20180507,china retaliates after white house slams its warning to airlines
...,...,...
99995,20201231,what abc readers learned from 2020 looking back at the year
99996,20201231,what are the south african and uk variants of covid 19
99997,20201231,what victorias coronavirus restrictions mean for new years eve
99998,20201231,whats life like as an american doctor during covid
99999,20201231,womens shed canberra reskilling unemployed pandemic

In [22]:
headline = df_reduced["headline_text"]

In [24]:
for row in range(len(headline)):

    text = headline[row]

    file = open(f'Data/unlabeled/{row}.txt', "w")
    file.write(text)
    file.close()

In [13]:
blocks = TextBlock.from_df(df_reduced, text_col=1)

In [14]:
blocks